.NavBarButton {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding-bottom: 0.2em;
  position: relative;
  margin: 0;
}

.NavBarButton > div {
  width: 100%;
  height: 100%;
  max-height: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  transform: translateX(-5vw);
  transition: max-height 0.3s ease;
}

#NavBarH3,
.NavBarButton > h2 {
  width: 100%;
  text-align: right;
  cursor: pointer;
}
.NavBarButton > h2 {
  z-index: 1;
  padding-top: 0.2em;
}

@media (min-width: 800px) {
  .NavBarButton {
    padding: 0;
    white-space: nowrap;
    margin: 0 0.5em;
  }

  .nav-button-header {
    font-size: var(--nav-text);
  }

  .NavBarButton > div {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 100;
    top: 100%;
    /* left: calc(-50% - 2em); */
    left: 45%;
    height: fit-content;
    width: fit-content;
    background-color: var(--black);
    transform: translateX(-50%);
    padding: 0 2em;
  }

  #NavBarH3 {
    display: flex;
    justify-content: center;
    padding: 0.5em 0;
  }

  .NavBarButton > h2 {
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.3em;
  }
}

#NavBarH3:hover,
.nav-button-header:hover {
  color: var(--orange);
}
