.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Container > div {
  max-width: 1300px;
  width: 90%;
  display: flex;
  position: relative;
}

@media (max-width: 800) {
  .Container > div {
    width: 95%;
  }
}
