.OurOfferBlocks {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2em;
}

@media (max-width: 450px) {
  .OurOfferBlocks {
    grid-template-columns: 1fr;
  }
}

.OurOfferHeader {
  margin: 1em 0;
  text-align: center;
  text-shadow: var(--header-shadow);
}
